*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f9ff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.reg-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-form form h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-weight: 500;
    color: #012970;
}

.form-check-label{
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 14px;
}

.reg-form form input{
    padding: 9px 100px;
    margin: 4px;
    border: solid 0.5px #cfe2ff;
    border-radius: 5px;
    font-size: 17px;
}

div .dropbox{
    padding: 7px 80px;
    opacity: 0.7;
}

div .divdrop{
    display: flex;
  justify-content: center;
}

div select option{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div select option:hover{
    color: black;
    cursor: pointer;
    background-color: rgb(81, 228, 81);
}

form{
    border: #cfe2ff;
    padding: 30px;
    margin-top: 40px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #cfe2ff;
}

.reg-form button{
    background-color: #3680c6;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 16px;
    display: block;
    margin: auto;
    padding: 11px 46%;
    border: #cfe2ff;
}

.reg-form button:hover{
    cursor: pointer;
    background-color: #4154f1;
}

.reg-form p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.reg-form span{
    opacity: 0.7;
    font-size: 14.5px;
}

.form-select{
    padding: 9px 100px;
    margin: 4px;
    border: solid 0.5px #cfe2ff;
    border-radius: 5px;
    font-size: 17px;
}

select{
    color: #2c384e;;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 17px;
    opacity: 0.7;
}

.form-select option{
    padding: 5px; /* Padding might not work in some browsers */
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 14px;
}

.navbar{
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color:#fff;
    border: #f6f9ff;
    box-shadow: 0px 0px 20px 0px #cfe2ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    position: fixed;
}

.navbar ul{
    list-style-type: none;
    text-align: center;
    margin-right: 10px;
}

.navbar li{
    display: inline;
}

.navbar li:hover{
    opacity: 0.7;
}

.navbar a{
    text-decoration: none;
    color:#002360;
    padding: 5px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-weight: 600;
}

.reg-form form textarea{
    margin-top: 4px;
    width: 79%;
    height: 100px;
    resize: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    margin-bottom: 10px;
}